/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */


* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #FFFFFF;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.micro {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.micro img {
  width: 100%;
  height: auto;
}

.micro img:active {
  background: #000000;
  opacity: 0.5;
}
/* Portrait layout (default) */

.texte {
  margin: 0 auto;
  width: 75%;
  height: 5%;
  text-align: center;
  border: 1px solid black;
  background-color: #DEDEDE;
  padding: 10px 0;
}

.listing {
  width: 40%;
  height: auto;
}

/* Landscape layout (with min-width) */

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  .micro {
    width: 10%;
    height: auto;
  }
  .texte {
    width: 50%;
    height: auto;
  }
  .menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }
  .menu li {
    float: left;
    margin: auto;
    padding: 0;
    background-color: black;
  }
  .menu li a {
    display: block;
    width: 100px;
    color: white;
    text-decoration: none;
    padding: 5px;
  }
  .menu li a:hover {
    color: #FFD700;
  }
  .menu ul li ul {
    display: none;
  }
  .menu ul li:hover ul {
    display: block;
  }
  .menu li:hover ul li {
    float: none;
  }
  @keyframes fade {
    from {
      opacity: 1.0;
    }
    50% {
      opacity: 0.4;
    }
    to {
      opacity: 1.0;
    }
  }
  @-webkit-keyframes fade {
    from {
      opacity: 1.0;
    }
    50% {
      opacity: 0.4;
    }
    to {
      opacity: 1.0;
    }
  }
  .blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
  }
