

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #FFFFFF;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.micro {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.micro img {
  width: 100%;
  height: auto;
}

.micro img:active {
  background: #000000;
  opacity: 0.5;
}
/* Portrait layout (default) */

.texte {
  margin: 0 auto;
  width: 75%;
  height: 5%;
  text-align: center;
  border: 1px solid black;
  background-color: #DEDEDE;
  padding: 10px 0;
}

.listing {
  width: 40%;
  height: auto;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  margin: 0;
  padding: 0;
}
*, *:after, *:before {
  box-sizing: border-box;
}
html {
  line-height: 1.2;
}
body {
  background-color: #f5f5f5;
  color: #333;
  font-family: "Roboto", arial, sans-serif;
  font-size: 16px;
}
.selected-item {
  margin: 20px 0;
  text-align: center;
  p {
    font-size: 18px;
    span {
      font-weight: bold;
    }
  }
}
/* dropdown list */
.dropdown {
  margin: 20px auto;
  width: 300px;

  position: relative;
  perspective: 800px;
  &.active {
    .selLabel {
      &:after {
        content: '\25B2';
      }
    }
    .dropdown-list {
      li {
        &:nth-child(1) {
          transform: translateY(100%);
        }
        &:nth-child(2) {
          transform: translateY(200%);
        }
        &:nth-child(3) {
          transform: translateY(300%);
        }
        &:nth-child(4) {
          transform: translateY(400%);
        }
      }
    }
  }
  > span {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    background: #34495e;
    display: block;
    padding: 0 50px 0 30px;
    position: relative;
    z-index: 9999;
    cursor: pointer;

    transform-style: preserve-3d;
    transform-origin: 50% 0%;
    transition: transform 300ms;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    user-select: none;

    &:after {
      content: '\25BC';
      position: absolute;
      right: 0px;
      top: 15%;
      width: 50px;
      text-align: center;
      font-size: 12px;
      padding: 10px;
      height: 70%;
      line-height: 24px;
      border-left: 1px solid #ddd;
    }
    &:active {
      transform: rotateX(45deg);
      &:after {
        content: '\25B2';
      }
    }
  }
}

#menu, #menu ul
{
	list-style: none;
	border: 1px solid #000;
	background-color: #ecffec;
	padding: 0 0 26px 0;
	margin: 0;
}
#menu li
{
	float: left;
	margin-right: 3px;
	border: 1px solid #ecffec;
	position: relative;
}
#menu ul
{
	position: absolute;
	top: 25px;
	left: -1px;
	width: 200px;
	padding: 0;
	display: none;
}
#menu ul li
{
	float: none;
	margin: 0;
	padding: 0;
	line-height: 15px;
}
#menu a:link, #menu a:visited
{
	display: block;
	font-family: Tahoma;
	font-size: 0.75em;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	color: #000;
	padding: 5px;
}
#menu li:active
{
	background-color: #ffd98a;
	border: 1px solid #000;
}
#menu li:active ul
{
	display: block;
}

.onclick-menu {
    position: relative;
    width: 50%;
    text-align: center;
    margin: 15px auto 115px auto;
    border: 1px solid grey;
    font-size: 28px;
}
.onclick-menu:before {
    content: "Langue";
}
.onclick-menu:focus .onclick-menu-content {
    display: block;
}
.onclick-menu-content {
    position: absolute;
    z-index: 1;

    display: none;
}
